{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

  <ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
  <a href="{% url 'learning_logs:topic' topic.id %}" class="topic-card">
    <div class="card shadow-sm mb-3 p-3">
      <h4 class="mb-0">{{ topic.text }}</h4>
    </div>
  </a>
     {% empty %}
      <p>No topics yet.</p>
     {% endfor %}
 
  </ul>

  <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

{% endblock content %}